*
!.gitignore
!.npmignore
!/prodotto.responsive.min.js
!/index.js
!/desktop.ini
!/Literally2.js
!/literallycanvas-core.min.js
!/Literally1.js
!/jquery.1.11.3.js
!/literallycanvas-core.js
!/ie_setLineDash.js
!/base.js
!/literallycanvas.js
!/ie_customevent.js
!/literallycanvas.min.js
!/optionsStyles/
!/core/
!/tools/
!/reactGUI/