{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

    <script src="{{ asset("Amministratore/js/attributo.js") }}"></script>
{% endblock %}


{% block title %}Nuovo attributo{% endblock %}

{% block corpo %}
<section class="top">
    <h4>Nuovo attributo </h4>
</section>
<section class="form">
    <table>
        <form method="post">
            <tbody>
                <tr valign="top">
                    <td height="260" width="285">
                        <div id="cont"> 
                            <div class="field-box">
                                <label>Nome :</label>
                                <input id="nome" value="" placeholder="" class="span6" style="width:240px" type="text" required>
                            </div>
                            <div class="field-box" id="divNum">
                                <label>Numero Valori:</label>
                                <input onchange="attivaConferma()" id="num" value="" class="span6" style="width:240px" type="number">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </form>
    </table>
    <a id="conferma" class="btn-flat primary" onclick="conferma()">Conferma</a>
</section>
{% endblock %}