{% extends "::base.html.twig" %}

{% block title %}Descrizioneprodotto{% endblock %}

{% block corpo %}

<div class="container">
	<header class="codrops-header">				
		<h1>Descrizione</h1>				
	</header>			
		<section class="content">
			<h2>Inserisci Descrizione</h2>
			<form method="post"
				<span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input-35" />
					<label class="input__label input__label--kaede" for="input-35">
						<span class="input__label-content input__label-content--kaede">Descrizione</span>
					</label>
				</span>
			</form>
		</section>
			<div class="box bg-3">					
					<button class="button button--nanuk button--border-thin button--round-s">
						<span>C</span><span>o</span><span>n</span><span>f</span><span>e</span><span>r</span><span>m</span><span>a</span>
					</button>
			</div>
					
</div><!-- /container -->

		<script src="js/classie.js"></script>
		<script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
{% endblock %}